<div class="title">
	<h1>
	  f a b i o
    <br/>
    v a l e n t i n o
	</h1>
</div>

<table>
  <tr>
    <td></td>
    <td>
      <div class="resume">
        <a href="images/FVC_REZ_2016.pdf" target="_blank">
          <img src="images/FVC_REZ_2016.pdf" style="width: 600px; height: 750px;"/>
        </a>
      </div>
    </td>
    <td></td>
    <td></td>
  </tr>
</table>

<div class="footer">
  Hawthorne Bridge - Portland, Oregon&nbsp;&nbsp;
  <br/>
  by <strong>Fabio Valentino © Copyright 2016 &nbsp;&nbsp;</strong>
</div>